In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
jay_page = 'https://www.onthesnow.com/vermont/jay-peak/skireport.html'

In [6]:
html = requests.get(jay_page)

In [11]:
soup = BeautifulSoup(html.text, 'html.parser')

In [22]:
loc_dict = {'Jay Peak':'https://www.onthesnow.com/vermont/jay-peak/skireport.html',
            'Mt Sutton':'https://www.onthesnow.ca/quebec/mont-sutton/skireport.html',
            'Mt Tremblant': 'https://www.onthesnow.ca/quebec/tremblant/skireport.html',
            'St Anne': 'https://www.onthesnow.ca/quebec/mont-sainte-anne/skireport.html',
            'Le Massif': 'https://www.onthesnow.ca/quebec/le-massif/skireport.html',
           }

In [43]:
filter(str.isdigit, value)

In [50]:
snow_depth = {}

for location in loc_dict:
    snow_depth[location] = {}
    
    r = requests.get(loc_dict[location])
    soup = BeautifulSoup(r.text, 'html.parser')
    
    for slope in ['upper', 'middle', 'lower']:
        list_item = soup.find('li', attrs={'class':'elevation %s' % slope})
        value = list_item.find('div', attrs={'class':"bluePill"}).contents[0]
        value = int(''.join(list(filter(str.isdigit, value))))
        
        if location == 'Jay Peak':
            value=int(value*2.54)
        
        snow_depth[location][slope] = value

In [51]:
snow_depth

{'Jay Peak': {'lower': 50, 'middle': 73, 'upper': 116},
 'Le Massif': {'lower': 68, 'middle': 68, 'upper': 68},
 'Mt Sutton': {'lower': 50, 'middle': 75, 'upper': 115},
 'Mt Tremblant': {'lower': 60, 'middle': 60, 'upper': 60},
 'St Anne': {'lower': 67, 'middle': 66, 'upper': 79}}

In [53]:
df_list = []

for location in snow_depth.keys():
    df_list.append(pd.DataFrame(snow_depth[location], index=[location]))

In [54]:
df = pd.concat(df_list)

In [55]:
df

              lower  middle  upper
Jay Peak         50      73    116
Mt Sutton        50      75    115
Mt Tremblant     60      60     60
St Anne          67      66     79
Le Massif        68      68     68

In [56]:
df.index.values

array(['Jay Peak', 'Mt Sutton', 'Mt Tremblant', 'St Anne', 'Le Massif'],
      dtype=object)

In [58]:
df.loc['Jay Peak']

lower      50
middle     73
upper     116
Name: Jay Peak, dtype: int64

In [59]:
df['location'] = df.index

In [60]:
df

              lower  middle  upper      location
Jay Peak         50      73    116      Jay Peak
Mt Sutton        50      75    115     Mt Sutton
Mt Tremblant     60      60     60  Mt Tremblant
St Anne          67      66     79       St Anne
Le Massif        68      68     68     Le Massif